extends layout.pug
div(class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
     data-src="https://desinformemonos.org/wp-content/uploads/2016/01/2.png"
     data-srcset="https://desinformemonos.org/wp-content/uploads/2016/01/2.png 650w,
                  https://desinformemonos.org/wp-content/uploads/2016/01/2.png 1300w"
     data-sizes="(min-width: 650px) 650px, 100vw" uk-img)
    h1 Bienvenido a #{title}